/* Dark/light toggle */
/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --navy: #17050f;
  --blue: #082840;
  --white: #fff;
}

:root.dark {
  --lightgray: #101010;
  --gray: #303030;
  --darkgray: #ccc;
  --navy: #f3f6f9;
  --blue: #f3f6f9;
  --white: #232629;
}

@media (prefers-color-scheme: dark) {
  :root {
    --lightgray: #101010;
    --gray: #303030;
    --darkgray: #ccc;
    --navy: #f3f6f9;
    --blue: #f3f6f9;
    --white: #232629;
  }

  :root.light {
    --lightgray: #e0e0e0;
    --gray: #c0c0c0;
    --darkgray: #333;
    --navy: #17050f;
    --blue: #082840;
    --white: #fff;
  }
}

#toggle-input {
  display: none;
}
#light-icon,
#dark-icon {
  position: absolute;
}
.toggle-switch {
  padding-right: 1.8em;
  padding-top: 1em;
}

/* Source theme */

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto 0 auto;
  max-width: 60em;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
ul {
  list-style: none;
  padding: 1rem;
}
li {
}
time {
}
section {
  line-height: 1.375;
  padding: 1em;
  margin: .5em 0;
  color: var(--darkghtgray);
  background-color: var(--lightgray);
  border-radius: .3rem;
}
details {
  margin: .5rem auto;
}
summary {
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
}
summary::marker {
  color: var(--darkgray);
}
.post-metadata {
  display: block;
  font-size: .75rem;
  margin-left: .5rem;
}
.post-source {
  opacity: .5;
  font-size: .9rem;
}
.post-content {
  padding: .1rem 1.1rem;
  font-size: .85rem;
  border-left: 1px solid var(--darkgray);
  margin-left: .22rem;
}
.post-content a {
  text-decoration: none;
}
